.header {
    width: 100%;
    min-height: 70px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.header-logo-img {
    height: 30px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-search {
    display: flex;
}

.header-search-input {
    width: 500px;
    padding: 10px 50px;
    border-radius: 4px;
}

.header-search-button {
    padding: 5px 10px;
}

.header-search-button {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin-left: 20px;
}

.header-nav-link {
    color: #ffffff;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

.header-nav-link--sell {
    color: #000000;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 1540px) {
    .header {
        padding: 0 20px;
    }
}