.products-container {
    margin-top: 30px;
}

.tab-menu {
    margin-bottom: 20px;
    border-bottom: solid 1px #424242;
}

.tab-menu a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin: 0px 30px;
    color: #424242;
}

.tab-menu a.active {
    color: #ff2020;
}

/* 商品一覧 */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: calc(25% - 15px);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.sold-badge {
    display: inline-block;
    margin-top: 5px;
    padding: 2px 6px;
    background-color: red;
    color: white;
    border-radius: 2px;
    font-size: 12px;
}

@media screen and (max-width: 1540px) {
    .header {
        padding: 10px 20px;
    }

    .product-card {
        width: calc(25% - 15px);
    }
}